@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


.navbar{
    position: relative;
    background: white !important; 
}

.navbar-nav{
    padding: 10px 0 0 100px;
}

.nav-link{
    width: auto !important;
    text-align: center;
    margin-right: 25px !important;
    font-size: 14px;
    font-weight: bold;
    color: #07277f !important;
    white-space: nowrap;
}
.active{
    display: block;
    width: 100%;
    height: 32px;
    border-bottom: solid 4px #A07837 ;

}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #A07837;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
}
.navbar-toggler{
    border: solid 2px #A07837 !important;
    display: block;
}

a.btn{
    border: none;
    margin: auto;
    display: block;
    color: #A07837;

}
#banner{ 
    padding-top: 0;
    width: 100%;
    position: relative;
}
.trietly{
    height: 100px;  
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
}
.row img{
    width: 100% !important;
    margin: 0 5% 0 5%;
    border-bottom: solid 1px #A07837;
}
/* .right-img img{
    padding:  10% 0 10% 0;
    width: 100%;
}
.right-img p{
    padding-top: 10%;
} */

.hover01 img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.hover01 img:hover {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}


.page-footer{
    background: #203A5F;
    height: 150px;
}
#hello{
    background: #F6F4EE;
    height: 270px;
}
